@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* main {
    width: 100%;
    box-sizing: border-box;
    background-image: url('image/a-propos/FOND_FORME_A_PROPOS.svg');
    background-repeat: no-repeat;
    background-size: 100%;
} */
h1 {
    font-family: "Gasoek One", sans-serif;
    font-size: 72px;
    font-weight: 400;
}

h2 {
    font-size: 64px;
    font-weight: 900;
}
a{
    text-decoration: none;
    cursor: pointer;
}

p, label{
    color: #000;

/* H3 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.introduction {
    padding-left: 98px;
    padding: 200px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}
.jambe-droite{
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
}
.bouton {
    --bg: white;
    --hover-bg: var(--bg);
    --hover-text: black;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
    padding: 10px 35px 10px 35px;
    box-shadow: -0.25rem 0.25rem black;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 114px;
    text-align: center;
}

.bouton:hover{
    transform: translateX(-0.25rem) translateY(0.25rem);
    box-shadow: 0rem 0rem black;
}

.explication{
    margin: 76px 863px 0 100px;
}

.plot-twist{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin: 275px 102px 92px 535px;
    font-weight: 600;
    font-size: 16px;
    background-image: url(image/accueil/forme-nocturne.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.jambe-gauche img{
    width: 72.5vw;
    height: 248px;
    margin-bottom: 289px;
}

.contact {
    display: flex;
    align-items: center  ;
    flex-direction: column;
    align-self: center;
    margin-top: 100px;
}

.nous-contacter {
    display: flex;
    gap: 10%;
    padding: 199px ;
}

.formulaire{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 30vw;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    box-shadow: -0.5rem 0.5rem black;
    align-items: end;
    padding: 20px 40px 70px 20px;
}


.formulaire form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.formulaire form div {
    display: flex;
    gap: 10px;
}

.formulaire input, .formulaire textarea{
    border-radius: 8px;
    border: 3px solid var(--Black, #000);
    background: var(--White, #FFF);
}

.formulaire input{
    width: 20vw;
}

.formulaire textarea{
    width: 20vw;
    height: 30vh;
}

.liens-utiles{
    width: 20vw;
    height: 30%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -0.5rem 0.5rem black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mail, .telephone{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.mail a , .telephone a{
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
/*-------------------footer-----------------------*/
footer{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 119px 0 57px 0;
}
#logos{
    display: flex;
    margin-left: 300px;
}