@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
section{
    width: 100vw;
    height: 100vh;
    background-image: url('image/log-in/NIGHT_LIFE.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

h1{
    font-family: "Gasoek One", sans-serif;
    font-size: 72px;
    letter-spacing: 5px;
}

.div-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}
img{
    width: 23vw;
}

.login-form{
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    padding: 15px;
    width: 33vw;
    height: 288px;
    box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}
.login-information{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 26vw;
}
label{
    padding: 5px 0;
}
#email{
    display: flex;
    justify-content: space-between;
}
#email label{
    padding-left: 35px;
}
input{
    border: 2px solid black;
    border-radius: 8px;
    width: 20vw;
    font-size: 15px;
}
#password{
    display: flex;
    justify-content: space-between;
}
.login-links{
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 100px;
}
a{
    color: blue;
    padding: 5px 0;
}
.button{
    --bg: transparent;
    --hover-bg: var(--bg);
    --hover-text: black;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
    box-shadow: -0.25rem 0.25rem black;
    height: 38px;
    width: 6vw;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
.button:hover{
    transform: translateX(-0.25rem) translateY(0.25rem);
    box-shadow: 0rem 0rem black;
}