@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.sign-up-body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('images/sign-up/LOISIR_ET_DIVERTISSEMENT.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1919px 856px;
    box-sizing: border-box;
}

.logo{
    padding: 28px 252px 0 100px;
}

h1{
    font-family: "Gasoek One", sans-serif;
    font-size: 72px;
    letter-spacing: 5px;
}
.div-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
}
.sign-up{
    display: block;
}
.sign-up-form{
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    padding: 15px;
    width: 771px;
    height: 410px;
    box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -20px 25px 0px 0px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}
.sign-up-information{
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 500px;
}
label{
    padding: 5px 0;
}
#email{
    display: flex;
    justify-content: space-between;
}
#email label{
    padding-left: 35px;
}
input{
    border: 2px solid black;
    border-radius: 8px;
    width: 400px;
    font-size: 15px;
}
#password{
    display: flex;
    justify-content: space-between;
}
#re-password{
    display: flex;
    height: 38px;
}
#re-password label{
    width: 170px;
    margin-left: -70px;
}
.sign-up-links{
    display: flex;
    width: 100%;
    padding-left: 100px;
    gap: 38px;
}
.sign-up-links button{
    width: 102px;
    height: 38px;
}
.sign-up-links a{
    text-decoration: dashed;
    color: blue;
    cursor: pointer;
}
.checkbox{
    display: flex;
    padding-left: 95px;
    gap: 12px;
}
.checkbox input{
    width: fit-content;
}