.sign-up-information input{
    border: 2px solid black;
    border-radius: 8px;
    width: 400px;
    font-size: 15px;
}
.password{
    display: flex;
    justify-content: space-between;
}

.sign-up-links{
    display: flex;
    width: 100%;
    padding-left: 100px;
    gap: 38px;
}
.sign-up-links button{
    width: 102px;
    height: 38px;
}
.sign-up-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-links a{
    color: blue;
    cursor: pointer;
}
.checkbox{
    display: flex;
    padding-left: 95px;
    gap: 12px;
}
.checkbox input{
    width: fit-content;
}
.button{
    --bg: white;
    --hover-bg: var(--bg);
    --hover-text: black;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
    height: 38px;
    width:fit-content;
    padding: 5px 20px;
    box-shadow: -0.25rem 0.25rem black;
    color: black;
}
.button:hover{
    transform: translateX(-0.25rem) translateY(0.25rem);
    box-shadow: 0rem 0rem black;
}